<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Movies</h1>
  <h2>Movie #<%= movie._id %></h2>
  <h3><%= movie.text %></h3>
  <p>Statues: <%= movie.done ? 'Yes' : 'No' %> </p>
  <a href="/movies">Go Back</a>
</body>
</html>